html,body{
	height: 100%;
}

img {
    max-width: 100%;
}

#cover{
	/*background: url(img/stars.jpg); centre centre no-repeat;*/
	background: #222 url('img/tabl.jpg') center center no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    /*font-family: 'Gloria Hallelujah', cursive;*/
    font-family: 'Atomic Age', cursive;
}


#cover3{
	display: flex;
    /*align-items: center;*/


}

.form-group{
	 /*width: 300px;*/
    margin: 0 auto;
    align-items: center;
}



.jumbotron{
	background: white;
	padding: 30px;
}

.section-content {
	padding: 5rem 0;
}

#about{
	background: url('img/me5.jpg') center center no-repeat;
	background-size: cover;
	/*padding-left: 60%;*/
	/*width: 60px;*/

}

.about-text{
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 1.4rem;
	align-content: center;
}

#what-we-do{
	padding-top: 28px;
}
.go{
	text-align: center;
}

#news{
	margin-top: 0px;
}
#footer-main{
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}
